:root{
    /* primary */
    --primary-red-color: hsl(0, 78%, 62%);
    --primary-cyan-color: hsl(180, 62%, 55%);
    --primary-orange-color: hsl(34, 97%, 64%);
    --primary-blue-color: hsl(212, 86%, 64%);
    /* neutral */
    --neutral-very-dark-blue-color: hsl(234, 12%, 34%);
    --neutral-grayish-blue-color: hsl(229, 6%, 66%);
    --neutral-very-light-gray-color: hsl(0, 0%, 98%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--neutral-very-light-gray-color);
    line-height: 2rem;
    letter-spacing: 1px;
}


h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0px;
    font-size: 24px;
}

.holder-div{
    padding:2rem 1.5rem;
}

.title{
    color: var(--neutral-grayish-blue-color);
    font-weight: 400;
    text-align: center;
    font-size: 1.6rem;
}

.title > span{
    font-weight: 600;
    color: var(--neutral-very-dark-blue-color);
    font-size: 1.6rem;
}

.text{
    font-size: 1rem;
    text-align: center;
    color: var(--neutral-grayish-blue-color);
}

header{
    padding-bottom: 1.2rem;
}

section{
    height: 250px;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 1px 4px 6px 2px rgba(0, 0, 0, 0.2);
    padding: 25px;
    
}
.supervisor{
    border-top: 4px solid var(--primary-cyan-color);
}
.inner-text{
    font-size: 1.5rem;
    color: var(--neutral-very-dark-blue-color);
    font-weight: 600;
}
.inner-text p{
    font-size: 0.9rem;
    padding: 0px;
    margin: 0px;
    color: var(--neutral-grayish-blue-color);
    font-weight: lighter;
}
.image{
    margin-top: 20px;
    text-align: right;
}

.team-builder{
    border-top: 4px solid var(--primary-red-color);
}
.karma{
    border-top: 4px solid var(--primary-orange-color);
}
.calculator{
    border-top: 4px solid var(--primary-blue-color);
}



@media screen and (min-width:768px) {

    .holder-div{
        padding:3rem 2.5rem;
    }
    .title{
        font-size: 2rem;
    }
    .title > span{
        font-size: 2rem;
    }
    .text{
        font-size: 1.4rem;
    }
    .inner-text{
        font-size: 2rem;
    }
    .inner-text p{
        font-size: 1.2rem;
        padding-top: 10px;
    }
}


@media screen and (min-width:1024px) {
    .holder-div{
        padding:1.5rem;
        min-height: 100vh;
        overflow: hidden
    }
    header{
        width: 70%;
        margin: 0px auto;
    }
    .grid-laptop{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    section{
        max-width: 500px;
        margin-left:1rem ;
        padding: 15px;
    }
    .title{
        font-size: 2rem;
    }
    .title > span{
        font-size: 2rem;
    }
    .text{
        font-size: 1.1rem;
    }
    .supervisor, .calculator{
        margin: auto 0;
        margin-left:1rem
    }
    .inner-text{
        font-size: 1.2rem;
    }
    .inner-text p{
        font-size: 0.9rem;
        padding-top: 5px;
    }
    .image{
        margin-top: 25px;
    }
}

@media screen and (min-width:1280px) {
    .holder-div{
        padding:3rem 4rem;
    }
    header{
        width: 50%;
    }
    
    .supervisor, .calculator{
        margin-left:1.5rem
    }
    .inner-text{
        font-size: 1.5rem;
    }
    .inner-text p{
        font-size: 1rem;
        padding-top: 10px;
    }
    .image{
        margin-top: 25px;
    }
    img{
        height: 60px;
    }
    
}